# Maven build output
target/
build/

# Node modules
node_modules/

# Frontend build artifacts (if any)
dist/
.vite/

# IDEs and editor files
.idea/
*.iml
*.ipr
*.iws
.vscode/
.nb-gradle/
/nbbuild/
/dist/
/nbdist/
Thumbs.db
.DS_Store

# Spring specific
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# Git files
.git/
.gitignore

# Environment and secret files
.env
.env.*
application.properties
application-dev.properties
application-prod.properties
keyfile.txt

# Helper files
HELP.md
docker-compose.yml
qodana.yaml

# Allow Maven Wrapper
!mvnw
!.mvn/
.mvn/wrapper/maven-wrapper.jar

# Allow source codes even inside ignored build folders
!src/**/target/
!src/**/build/
