<!DOCTYPE html>
<html lang="en"
      data-th-replace="~{base :: layout(~{::#content},~{::title})}"

>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-text="${loggedInUser.name}+' | Dashboard Page'"></title>
</head>
<body>

<div id="content">

    <div data-th-if="${loggedInUser}">
        <div data-th-replace="~{user/sidebar :: ~{sidebar}}">
        </div>
    </div>

    <div class="sm:pl-64 pt-20">
        <h1>User Dashboard Page</h1>
        <h1 class="font-bold text-2xl " data-th-text="${loggedInUser.name}"></h1>
        <h1 class="font-bold text-2xl" data-th-text="${loggedInUser.email}"></h1>
    </div>


</div>
</body>
</html>